//===================================================================
//  SETTINGS
//===================================================================

$base-background-color: #1d2a32 !default;
$base-font-family: 'aktiv-grotesk-std', Helvetica Neue, Arial, sans-serif !default;


//===============================================
//  GRID
//===============================================
$grid-max-width: 70rem !default;
$break-sm: 62rem;
$break-xs: 40rem;
